---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="404 - YOIR NAME">
  <h1>404!</h1>
  <p>The page you're looking for doesn't exist.</p>
  <p>
    <a href="/">Go to home.</a>
  </p>
</Layout>
