---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="StarterBuild">
  <h1>Exact Match Domains</h1>
  <p><small>These are a work in progress...</small></p>
  <p>Just messing around with these. I'm not sure what I'm doing.</p>

  <ol>
    <li>
      <a href="https://onerepmaxcalculator.com" target="_blank"
        >onerepmaxcalculator.com</a
      > 
    </li>
    <li>
      <a href="https://indianapropertytaxcalculator.com" target="_blank"
        >indianapropertytaxcalculator.com</a
      > 
    </li>
    <li>
      <a href="https://pngtobmp.com/" target="_blank"
        >pngtobmp.com</a
      > 
    </li>
  </ol>
</Layout>
