---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="StarterBuild">
  <h1>Starterbuild</h1>

  <p>
    This once was a project I had high hopes for. In the end, it became the first project I ever shut down. Had a decent streak of 3 exits in a row from 2021 - 2024. So... here we are.
  </p>
  <br>
  <p>Check out some of the fun things at <a href="/just-playing-around">just playing around</a>. Lot's of free tools and just having a good time building.</p>
  <br>
  <p>I also build real stuff... Mainly for me. But it gets built. Will update this site with active projects as I see fit. Thanks for stopping by.</p>
  <br>
  will@starterbuild.com for inquiries
</Layout>
