---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="YOUR NAME">
  <h1>Starterbuild</h1>

  <p>
    This once was a project I had high hopes for. In the end, it became the first project I ever shut down. So here we are.
  </p>
  <br>
  <p>Check out some of the other stuff I am working on. Lot's of free tools and just having fun coding. Enjoy.</p>
</Layout>
