---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="YOUR NAME">
  <h1>YOUR NAME</h1>

  <p>
    Lorem ipsum, dolor sit amet <strong>consectetur adipisicing</strong> elit. Minus
    sunt porro magni, possimus repellendus maxime. Voluptate incidunt laboriosam
    officia! Cum, ducimus cumque? Repudiandae atque nostrum perspiciatis repellat
    sit libero. Enim <a href="/now">voluptate</a> aliquam quae sit, cum quibusdam
    ad <a href="/uses">possimus eaque</a> delectus eos! Laborum inventore corrupti,
    animi id recusandae delectus est nisi!
  </p>
</Layout>
