---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="StarterBuild">
  <h1>Money</h1>
  <p>
    People think weird things about money. And that's all I'll say about it.
  </p>
  <ol>
    <li>
      <a href="https://www.youtube.com/watch?v=aqOoTQ-G-r4&list=PLQcpjwveNrhLk4gB6c87VACB9mBS0ibas&index=2" target="_blank" rel="noopener noreferrer"
        >Top Secret</a
      > - Absolutely beast mode out of the gate.  
    </li>
    <li>
      <p>More to come later...</p>
    </li>
  </ol>

  <p>...</p>
</Layout>
