---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="StarterBuild - Recent Projects">
  <h1>Projects: 9/12/24 - 11/19/24</h1>
  <p>If any of these repositories aren't open and you want to see the code, send me a dm on X. They should be open.</p>
  <p>Updates: House almost burnt down. Bought a house in Indiana, Flew there twice for a week each time. Probably built and gave up on another 10 projects.</p>
  <p><strong>Update**</strong> (11/23)
  - Will try to monetize a couple of them. Read about that <a href="/money">Here</a>.</p>
  <p>If you want to purchase any of these projects or domain names, send me a dm on X. Enjoy.</p>
  <img src="/assets/gi.png" alt="github contributions">
  <ol>
    <li>
      <a href="https://remaininglife.com" target="_blank"
        >RemaininLife.com</a
      > - Messing around with Charts.js & this is what happened. 
      <p><strong>Published:</strong> 12/11/2024</p>
      <img src="/assets/rl.png" alt="RemainingLife.com">
    </li>
    <li>
      <a href="https://unicorn.observer" target="_blank"
        >Unicorn.Observer</a
      > - Hacker style news feed of the keyword Unicorn. Just takes Google Newss RSS feed. Easy.
      <br>
      -  Took 6 minutes to build. Too easy, I like the domain name and been working with RSS a lot lately (Yea, RSS Feeds).
      <br>
      <p><strong>Published:</strong> 12/08/2024</p>
      <img src="/assets/uo.png" alt="Unicorn.Observer">
    </li>
    <li>
      <a href="https://fakepayouts.xyz" target="_blank"
        >FakePayouts.xyz</a
      > - fake your payouts for x creator earnings.
      <br>
      <p><strong>Published:</strong> 12/07/2024</p>
      <img src="/assets/fg.png" alt="FakePayouts.xyz">
    </li>
    <li>
      <a href="https://jessie.chat" target="_blank"
        >Jessie</a
      > - Accountability Partner via SMS 
      <br>
      -  Not a therapist, always around, no judgement, crush your goals
      <br>
      - I built the initial concept in 2021 after Sam Thompson had a tweet. I can't remember how much is copied or where. I love this idea. Works for just about anything over text.
      <br>
      - Try it. It's free. Too lazy to click? Heres the number: 415-877-8810 (Great phone number, Thanks)
      <p><strong>Published:</strong> 11/19/2024</p>
      <img src="/assets/jher.png" alt="official domains">
    </li>
    <li>
      <a href="https://ketamine.club" target="_blank"
        >Ketamine.Club</a
      > - Windows 95 (ish) Screen Savers. 20 of them. 
      <br>
      <a href="https://x.com/Swanagan/status/1858532955242516611" target="_blank">@Swanagan</a>
      <br>
      - Thought he meant screensavers, guess it was media players. Still, love this idea.
      <p><strong>Published:</strong> 11/18/2024</p>
      <img src="/assets/kc.png" alt="Ketamine Club">
    </li>
    <li>
      <a href="https://forumscraper.com" target="_blank"
        >Forum Scraper</a
        > - Scrape all forum posts (pages) and export to text file to upload to LLM of your choice.
        <br>
        -  Kind of rad.
      <p><strong>Published:</strong> 11/17/2024</p>
      <img src="/assets/fs.png" alt="Forum Scraper">
      - Shoutout to Jerimiah Lee Lancaster (cool name)
      <img src="/assets/tweep.png" alt="Forum Scraper">

    </li>
    <li>
      <a href="https://textmeasecret.com" target="_blank"
        >Text me a Secret</a
      <br />
      > - Bought this domain in early 2021 after reading an app idea from Shaan Purri's book 
      <br>
      -  Orginially, using AI. More interesting to just read whatever people send in and reply myself.
    
      <p><strong>Published:</strong> 11/15/2024</p>
      <p><strong>Deprecated:</strong> 11/19/2024</p>
      <img src="/assets/depp.png" alt="Text me a Secret">
    </li>
    <li>
      <a href="https://officialdomains.com" target="_blank"
        >Official Domains</a
      > - Domain Name Services 
      <br>
      -  Research + Brokerage
      <br>
      - I already do this almost everyday + I spent $1,600 on this domain name last December so I'm doing something with it. 
      <p><strong>Published:</strong> 11/15/2024</p>
      <img src="/assets/odh.png" alt="official domains">
    </li>
    <li>
      <a href="https://mxlookup.xyz" target="_blank"
        >MX Lookup .xyz</a
      > - Bulk update csv with email mx records for better deliverability. 
      <br>
      - Probably the most useful thing I have built thus far + Free + Serious demand for it. 
      <br>
      - The CEO of Replit even retweeted my post about it (guy has good taste). Still, literally nobody is using it. Weird.
      <br>
      - Python everything
      <p><strong>Published:</strong> 11/12/2024</p>
      <img src="/assets/mx.png" alt="mxlookup.xyz">
    </li>
    <li>
      <a href="https://nocodejobs.org/open-positions" target="_blank"
        >No Code Jobs .org</a
      > - Another site rebuild in Astro
      <br>
      - Ranks #1 in Google for the search term "No Code Jobs"
      <br>
      - Astro + technically awesome + performance 100 + JSON-LD 
      <br>
      - Sadly, there is no money in nocode. So, next.
      <p><strong>Published:</strong> 11/10/2024</p>
      <img src="/assets/nolh.png" alt="No Code Jobs">
    </li>
    <li>
      <a href="https://craigcomm.com" target="_blank"
        >Sweet Globe of Willy's World</a
      > - This was just a ton of fun to make. 
      <br />
      <a href="https://x.com/helloIamWilly/status/1855822076910928001" target="_blank">Tweet</a>
      <br />
      - This tweet breaks down my feelings on why I like this project.
      <br />
      - Play around with it. It's just a globe. One Index Page. Repo is open and I link to the Globe repo.
      <p><strong>Published:</strong> 11/10/2024</p>
      <img src="/assets/willy.png" alt="Sweet Globe of Willy's World">
    </li>
    <li>
      <p><strong>Published:</strong> 11/04/2024</p>
      <p><strong>Redacted:</strong> 12/11/204</p>
      <p>Want to grow this project and I'd rather keep it under wraps for now.</p>

    </li>
    <li>
      <a href="https://engagementamp.com" target="_blank"
        >Engagement Amp</a
      > - Built from a Post on X. Gave to some kids in Brazil. 2K/mrr as of Day 1. We'll see what happens.
      <p><strong>Published:</strong> 10/28/2024</p>
      <img src="/assets/enga.png" alt="Engagement Amp">
    </li>
  <li>
    <p><strong>Redacted:</strong> 12/11/204</p>
    <p>This was the original version of the redacted project above.</p>
    </li>
    <li>
      <a href="https://banners.li" target="_blank"
        >Banners.li</a
      > - LinkedIn Banner Generator. Could be much better UX. Oh well. 
      <p><strong>Published:</strong>: 10/19/2024</p>
      <img src="/assets/banners.li.png" alt="Banners.li - LinkedIn Banner Generator">
    </li>
    <li>
      <a href="https://okay.directory" target="_blank"
        >Okay.Directory</a
      > - Directory of directory related tools. I underestimated how annoying adding stuff to a directory is. Kind of over it.
      <p><strong>Published:</strong> 10/18/2024</p>
      <img src="/assets/okaydirectland.png" alt="Okay.Directory - Directory of Tools">
    </li>
    <li>
      <a href="https://indieaffiliate.io" target="_blank"
        >Indie Affiliate</a
      > - Just like it sounds. Built this in a day on Unicorn Platform in February, 2024. Checked it 4 months later and it actually made money. So, rebuilt it in Astro.js. Everything I do now is Astro, FYI.
      <p><strong>Re-launched:</strong> 10/16/2024</p>
      <img src="/assets/indiel.png" alt="Indie Affiliate">
    </li>
    <li>
      <a href="https://productized.studio" target="_blank"
        >Productized.Studio</a
      > - Directory of Productized Services - rebuilding now.
      <p><strong>Published:</strong> 10/14/2024</p>
      <img src="/assets/ps.png" alt="Productized.Studio - Directory of Services">
    </li>
    <li>
      <a href="https://qrcodellama.com" target="_blank"
        >QR Code Llama</a
      > - 100% Free QR Code Generator. No emails. No ads. No signups. Built after learning my Mom spends $30/month on QR codes. 
      <p><strong>Published:</strong> 10/04/2024</p>
      <img src="/assets/qrl.png" alt="QR Code Llama - Free QR Code Generator">
    </li>
    <li>
      <a href="https://webp.zip" target="_blank"
        >Webp.zip</a
      > - Convert images to webp. No sign up. No ads. No emails. Webp.zip is the domain name. Makes sense.
      <p><strong>Published:</strong> 10/01/2024</p>
      <img src="/assets/webpz.png" alt="Webp.zip - Image Converter">
    </li>
    <li>
      <a href="https://colorpicker.photos" target="_blank"
        >Image Color Picker</a
      > - Just like it sounds. Get color palette. Select pixel HEX/RGB. Easy. No sign up. No ads. 
      <p><strong>Published:</strong> 9/30/2024</p>
      <img src="/assets/cpp.png" alt="Image Color Picker - Get Color Palette">
    </li>
    <li>
      <a href="https://wg.je" target="_blank"
        >Personal Site</a
      > - wg.je is the domain name. super short. some fun animations. minimalist. I like it. 
      <p><strong>Published:</strong> 9/12/2024</p>
      <img src="/assets/wgje.png" alt="Personal Site - wg.je">
    </li>
  </ol>
</Layout>
