---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="StarterBuild - Recent Projects">
  <h1>Projects</h1>
  <p>Below is a list of things I have built.</p>
  <ol>
    <li>
      <a href="https://bestelectricianjobs.com/" target="_blank"
        >Best Electrician Jobs</a
      > - Going all in on job boards lately. Built this in a day to warm up the domain for when the real site goes live. Working with another dev on a "good" job board now.
      <p><strong>Published:</strong> 10/20/2024</p>
      <img src="/assets/elecim.png" alt="">
    </li>
    <li>
      <a href="https://www.banners.li/" target="_blank" 
        >Banners.li</a
      > - LinkedIn Banner Generator. Could be much better UX. Oh well. 
      <p><strong>Published:</strong>: 10/19/2024</p>
      <img src="/assets/banners.li.png" alt="">
    </li>
    <li>
      <a href="https://okay.directory/" target="_blank" 
        >Okay.Directory</a
      > - Directory of directory related tools. I underestimated how annoying adding stuff to a directory is. Kind of over it.
      <p><strong>Published:</strong> 10/18/2024</p>
      <img src="/assets/okaydirectland.png" alt="">
    </li>
    <li>
      <a href="https://indieaffiliate.io/" target="_blank" 
        >Indie Affiliate</a
      > - Just like it sounds. Built this in a day on Unicorn Platform in February, 2024. Checked it 4 months later and it actually made money. So, rebuilt it in Astro.js. Everything I do now is Astro, FYI.
      <p><strong>Re-launched:</strong> 10/16/2024</p>
      <img src="/assets/indiel.png" alt="">
    </li>
    <li>
      <a href="https://productized.studio/" target="_blank" 
        >Productized.Studio</a
      > - Directory of Productized Services - rebuilding now.
      <p><strong>Published:</strong> 10/14/2024</p>
      <img src="/assets/ps.png" alt="">
    </li>
    <li>
      <a href="https://www.qrcodellama.com/" target="_blank" 
        >QR Code Llama</a
      > - 100% Free QR Code Generator. No emails. No ads. No signups. Built after learning my Mom spends $30/month on QR codes. 
      <p><strong>Published:</strong> 10/04/2024</p>
      <img src="/assets/qrl.png" alt="">
    </li>
    <li>
      <a href="https://www.colorpicker.photos/" target="_blank" 
        >Image Color Picker</a
      > - Just like it sounds. Get color palette. Select pixel HEX/RGB. Easy. No sign up. No ads. 
      <p><strong>Published:</strong> 9/30/2024</p>
      <img src="/assets/cpp.png" alt="">
    </li>
    <li>
      <a href="https://warmwebsites.com/" target="_blank" 
        >Warm Websites</a
      > - Wordpress dev agency. Took on a couple clients. Realized building stuff for other people sucks. I paid for the year on everything so we will see. I didn't even know wordpress when I started it. Just posted signs in Newport Beach. Got the hang of it pretty quick.
      <p><strong>Published:</strong> 9/20/2024</p>
      <img src="/assets/wws.png" alt="">
    </li>
  </ol>
</Layout>
