---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="StarterBuild - Recent Projects">
  <h1>Projects</h1>
  <p>A list of things I have built recently. Newest first.</p>
  <ol>
    <li>
      <a href="https:/textmeasecret.com/" target="_blank"
        >Text me a Secret</a
      > - Bought this domain in early 2021 after reading an app idea from Shaan Purri's book 
      <br>
      -  Orginially, was going to be all AI. but i thought it would be more interested to just read whatever people sen.
      <br>
      - Might come back to it later. Might  not.
      <p><strong>Published:</strong> 11/15/2024</p>
      <img src="/assets/tmas.png" alt="Text me a Secret">
    </li>
    <li>
      <a href="https:/officialdomains.com/" target="_blank"
        >Official Domains</a
      > - Domain Name Services 
      <br>
      -  Research + Brokerage
      <br>
      - I already do this almost everyday + I spent $1,600 on this domain name last December so I'm doing something with it. 
      <p><strong>Published:</strong> 11/15/2024</p>
      <img src="/assets/odh.png" alt="official domains">
    </li>
    <li>
      <a href="https://mxlookup.xyz/" target="_blank"
        >MX Lookup .xyz</a
      > - Bulk update csv with email mx records for better deliverability. 
      <br>
      - Probably the most useful thing I have built thus far + Free + Serious demand for it. 
      <br>
      - The CEO of Replit even retweeted my post about it (guy has good taste). Still, literally nobody is using it. Weird.
      <br>
      - Python everything
      <p><strong>Published:</strong> 11/12/2024</p>
      <img src="/assets/mx.png" alt="mxlookup.xyz">
    </li>
    <li>
      <a href="https://www.nocodejobs.org/open-positions" target="_blank"
        >No Code Jobs .org</a
      > - Another site rebuild in Astro
      <br>
      - Git cloned Electrician Jobs + Added a bunch more features
      <br>
      - Ranks #1 in Google for the search term "No Code Jobs"
      <br>
      - Astro + technically awesome + performance 100 + JSON-LD 
      <p><strong>Published:</strong> 11/10/2024</p>
      <img src="/assets/nolh.png" alt="No Code Jobs">
    </li>
    <li>
      <a href="https://craigcomm.com/" target="_blank"
        >Sweet Globe of Willy's World</a
      > - This was just a ton of fun to make. 
      <br />
      <a href="https://x.com/helloIamWilly/status/1855822076910928001" target="_blank">Tweet</a>
      <br />
      - This tweet breaks down my feelings on why I like this project.
      <br />
      - Play around with it. It's just a globe. One Index Page. Repo is open and I link to the Globe repo.
      <p><strong>Published:</strong> 11/10/2024</p>
      <img src="/assets/willy.png" alt="Sweet Globe of Willy's World">
    </li>
    <li>
      <a href="https://bestelectricianjobs.com/" target="_blank"
        >Best Electrician Jobs Updated</a
      > - Updated the design. Technically this hits. Structured JSON-LD. Syndicated to Google Jobs. Tons of traffic. Still not "the good one". I spent my career in Electrical Sales so going to run cold email campaigns and reach out to old contacts to start driving revenue.
      <p><strong>Published:</strong> 11/04/2024</p>
      <img src="/assets/bej.png" alt="Best Electrician Jobs Updated">
    </li>
    <li>
      <a href="https://engagementamp.com/" target="_blank"
        >Engagement Amp</a
      > - Built from a Post on X. Gave to some kids in Brazil. 2K/mrr as of Day 1. We'll see what happens.
      <p><strong>Published:</strong> 10/28/2024</p>
      <img src="/assets/enga.png" alt="Engagement Amp">
    </li>
  <li>
      <a href="https://bestelectricianjobs.com/" target="_blank"
        >Best Electrician Jobs _deprecated</a
      > - Going all in on job boards lately. Built this in a day to warm up the domain for when the real site goes live. Working with another dev on a "good" job board now.
      <p><strong>Published:</strong> 10/20/2024</p>
      <img src="/assets/elecim.png" alt="Best Electrician Jobs Deprecated">
    </li>
    <li>
      <a href="https://www.banners.li/" target="_blank" 
        >Banners.li</a
      > - LinkedIn Banner Generator. Could be much better UX. Oh well. 
      <p><strong>Published:</strong>: 10/19/2024</p>
      <img src="/assets/banners.li.png" alt="Banners.li - LinkedIn Banner Generator">
    </li>
    <li>
      <a href="https://okay.directory/" target="_blank" 
        >Okay.Directory</a
      > - Directory of directory related tools. I underestimated how annoying adding stuff to a directory is. Kind of over it.
      <p><strong>Published:</strong> 10/18/2024</p>
      <img src="/assets/okaydirectland.png" alt="Okay.Directory - Directory of Tools">
    </li>
    <li>
      <a href="https://indieaffiliate.io/" target="_blank" 
        >Indie Affiliate</a
      > - Just like it sounds. Built this in a day on Unicorn Platform in February, 2024. Checked it 4 months later and it actually made money. So, rebuilt it in Astro.js. Everything I do now is Astro, FYI.
      <p><strong>Re-launched:</strong> 10/16/2024</p>
      <img src="/assets/indiel.png" alt="Indie Affiliate">
    </li>
    <li>
      <a href="https://productized.studio/" target="_blank" 
        >Productized.Studio</a
      > - Directory of Productized Services - rebuilding now.
      <p><strong>Published:</strong> 10/14/2024</p>
      <img src="/assets/ps.png" alt="Productized.Studio - Directory of Services">
    </li>
    <li>
      <a href="https://www.qrcodellama.com/" target="_blank" 
        >QR Code Llama</a
      > - 100% Free QR Code Generator. No emails. No ads. No signups. Built after learning my Mom spends $30/month on QR codes. 
      <p><strong>Published:</strong> 10/04/2024</p>
      <img src="/assets/qrl.png" alt="QR Code Llama - Free QR Code Generator">
    </li>
    <li>
      <a href="https://webp.zip/" target="_blank" 
        >Webp.zip</a
      > - Convert images to webp. No sign up. No ads. No emails. Webp.zip is the domain name. Makes sense.
      <p><strong>Published:</strong> 10/01/2024</p>
      <img src="/assets/webpz.png" alt="Webp.zip - Image Converter">
    </li>
    <li>
      <a href="https://www.colorpicker.photos/" target="_blank" 
        >Image Color Picker</a
      > - Just like it sounds. Get color palette. Select pixel HEX/RGB. Easy. No sign up. No ads. 
      <p><strong>Published:</strong> 9/30/2024</p>
      <img src="/assets/cpp.png" alt="Image Color Picker - Get Color Palette">
    </li>
    <li>
      <a href="https://warmwebsites.com/" target="_blank" 
        >Warm Websites</a
      > - Wordpress dev agency. Took on a couple clients. Realized building stuff for other people sucks. I paid for the year on everything so we will see. I didn't even know wordpress when I started it. Just posted signs in Newport Beach. Got the hang of it pretty quick.
      <p><strong>Published:</strong> 9/20/2024</p>
      <img src="/assets/wws.png" alt="Warm Websites - Wordpress Dev Agency">
    </li>
    <li>
      <a href="https://wg.je/" target="_blank" 
        >Personal Site</a
      > - wg.je is the domain name. super short. some fun animations. minimalist. I like it. 
      <p><strong>Published:</strong> 9/12/2024</p>
      <img src="/assets/wgje.png" alt="Personal Site - wg.je">
    </li>
  </ol>
</Layout>
