---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Projects - YOUR NAME">
  <h1>Projects</h1>
  <p>Below are some of the projects in which I have worked on.</p>
  <ol>
    <li>
      <a href="#" target="_blank" rel="noopener nofollow noreferrer"
        >project 1</a
      > - Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, similique!
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener nofollow noreferrer"
        >project 2</a
      > - Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </li>
  </ol>
</Layout>
