---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="uses - YOUR NAME">
  <h1>Uses</h1>
  <p><small>last updated: 10-21-2024</small></p>

  <p>
    No idea what goes here either. 
  </p>
</Layout>
