<hr />

<footer>
  <div>
    <a
      href="https://github.com/"
      target="_blank"
      rel="noopener nofollow noreferrer"
      aria-label="Link to github profile."
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        width="20"
        height="20"
        ><path
          fill="currentColor"
          d="M208.31 75.68A59.78 59.78 0 0 0 202.93 28a8 8 0 0 0-6.93-4a59.75 59.75 0 0 0-48 24h-24a59.75 59.75 0 0 0-48-24a8 8 0 0 0-6.93 4a59.78 59.78 0 0 0-5.38 47.68A58.14 58.14 0 0 0 56 104v8a56.06 56.06 0 0 0 48.44 55.47A39.8 39.8 0 0 0 96 192v8H72a24 24 0 0 1-24-24a40 40 0 0 0-40-40a8 8 0 0 0 0 16a24 24 0 0 1 24 24a40 40 0 0 0 40 40h24v16a8 8 0 0 0 16 0v-40a24 24 0 0 1 48 0v40a8 8 0 0 0 16 0v-40a39.8 39.8 0 0 0-8.44-24.53A56.06 56.06 0 0 0 216 112v-8a58.14 58.14 0 0 0-7.69-28.32ZM200 112a40 40 0 0 1-40 40h-48a40 40 0 0 1-40-40v-8a41.74 41.74 0 0 1 6.9-22.48a8 8 0 0 0 1.1-7.69a43.81 43.81 0 0 1 .79-33.58a43.88 43.88 0 0 1 32.32 20.06a8 8 0 0 0 6.71 3.69h32.35a8 8 0 0 0 6.74-3.69a43.87 43.87 0 0 1 32.32-20.06a43.81 43.81 0 0 1 .77 33.58a8.09 8.09 0 0 0 1 7.65a41.72 41.72 0 0 1 7 22.52Z"
        ></path></svg
      ></a
    >
    <a
      href="https://www.linkedin.com/in/"
      target="_blank"
      rel="noopener nofollow noreferrer"
      aria-label="Link to linkedin profile"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        width="20"
        height="20"
        ><path
          fill="currentColor"
          d="M216 24H40a16 16 0 0 0-16 16v176a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V40a16 16 0 0 0-16-16Zm0 192H40V40h176v176ZM96 112v64a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm88 28v36a8 8 0 0 1-16 0v-36a20 20 0 0 0-40 0v36a8 8 0 0 1-16 0v-64a8 8 0 0 1 15.79-1.78A36 36 0 0 1 184 140Zm-84-56a12 12 0 1 1-12-12a12 12 0 0 1 12 12Z"
        ></path></svg
      ></a
    >
    <a
      href="https://x.com/"
      target="_blank"
      rel="noopener nofollow noreferrer"
      aria-label="Link to twitter profile."
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        height="20"
        width="20"
        ><path
          fill="currentColor"
          d="M247.39 68.94A8 8 0 0 0 240 64h-30.43a48.66 48.66 0 0 0-41.47-24a46.91 46.91 0 0 0-33.75 13.7A47.9 47.9 0 0 0 120 88v6.09C79.74 83.47 46.81 50.72 46.46 50.37a8 8 0 0 0-13.65 4.92c-4.31 47.79 9.57 79.77 22 98.18a110.93 110.93 0 0 0 21.88 24.2c-15.23 17.53-39.21 26.74-39.47 26.84a8 8 0 0 0-3.85 11.93c.75 1.12 3.75 5.05 11.08 8.72C53.51 229.7 65.48 232 80 232c70.67 0 129.72-54.42 135.75-124.44l29.91-29.9a8 8 0 0 0 1.73-8.72Zm-45 29.41a8 8 0 0 0-2.32 5.14C196 166.58 143.28 216 80 216c-10.56 0-18-1.4-23.22-3.08c11.51-6.25 27.56-17 37.88-32.48A8 8 0 0 0 92 169.08c-.47-.27-43.91-26.34-44-96c16 13 45.25 33.17 78.67 38.79A8 8 0 0 0 136 104V88a32 32 0 0 1 9.6-22.92A30.94 30.94 0 0 1 167.9 56c12.66.16 24.49 7.88 29.44 19.21a8 8 0 0 0 7.33 4.79h16Z"
        ></path>&lt;</svg
      ></a
    >
  </div>

  <small>
    <time>2024 - Today</time>
    <abbr title="YOUR LICENSE MESSAGE GOES HERE." style="cursor:help">
      <strong> © Your Name.</strong>
    </abbr>
  </small>

  <br />
  <small>
    <strong>Colophon:</strong> Built with <a href="https://astro.build/"
      >Astro</a
    >
  </small>
</footer>

<style>
  footer div a {
    margin-right: 5px;
  }
</style>
