<nav>
  <p>
    <a href="/">home</a>
    <a href="/writings">writings</a>
    <a href="/projects">projects</a>
    <a href="/now">now</a>
    <a href="/uses">uses</a>
  </p>
</nav>
<style>
  nav > p > a {
    text-align: left;
    margin-left: 20px;
  }

  nav {
    margin-bottom: 4rem;
    text-align: right;
  }
</style>
