<nav>
  <p>
    <a href="/">home</a>
    <a href="/just-playing-around">fun stuff</a>
    <a href="/money">money</a>
    <a href="/exact">exact</a>
    <a href="/writings">writings</a>
  </p>
</nav>
<style>
  nav > p > a {
    text-align: left;
    margin-left: 20px;
  }

  nav {
    margin-bottom: 4rem;
    text-align: right;
  }
</style>
