---
interface Props {
  title: string;
}

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />

    <title>{title}</title>
    <meta name="description" content="Hello. This used to be Starterbuild." />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="StarterBuild" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
   <meta property="og:image" content="/wws.png/" /> 
    <meta property="og:image:alt" content="All my recent projects." />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content="Hello. This used to be Starterbuild. Check out all my recent projects." />
  </headš
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
